<div class="container-fluid">
    <section class="about-us py-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1
                        class="text-primary animate__animated animate__backInLeft animate__slower"
                    >
                        Hey, I'm a software developer.
                    </h1>
                    <h2 class="text-primary">
                        I can solve <span class="all">all</span> some of your
                        problems.
                    </h2>
                    <!-- <span>ಸ್ವಾಗತ! ನಮ್ಮ ಬಗ್ಗೆ ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ</span> -->
                    <hr />
                    <h3>I design, build & sometimes rescue applications.</h3>
                    <h3>
                        Have a project, idea or problem you'd like to discuss?
                    </h3>
                    <h3>
                        Lets Chat
                        <a href="mailto:asifdraxi@gmail.com"
                            >asifdraxi@gmail.com</a
                        >
                    </h3>
                    <!-- <p>8123888525</p>
                    <p>
                        <span class="h3 text-danger">Web Developer</span> based
                        in Mumbai India. Experienced in developing Websites.
                    </p>
                    <p>
                        <span class="h3 text-danger">Web Developer</span> based
                        in Mumbai India. Experienced in developing Websites.
                    </p> -->

                    <!-- <button
                        mat-raised-button
                        class="btn btn-primary"
                        id="linkedin"
                    >
                        <img
                            src="https://img.icons8.com/ios-filled/50/000000/github.png"
                        />
                        <a
                            class="text-white ml-2"
                            href="https://github.com/AsifAd"
                            >GitHub</a
                        >
                    </button> -->

                    <!-- <a
                        class="text-white ml-2"
                        href="https://www.linkedin.com/in/aasif-draxi-769427a9/"
                    >
                        <img
                            src="https://img.icons8.com/color/48/000000/linkedin.png"
                    /></a> -->
                    <button
                        mat-raised-button
                        class="btn btn-primary"
                        id="linkedin"
                    >
                        <img
                            src="https://img.icons8.com/color/48/000000/linkedin.png"
                        />
                        <a
                            class="text-white ml-2"
                            href="https://www.linkedin.com/in/aasif-draxi-769427a9/"
                            >Linked In</a
                        >
                    </button>
                </div>
                <div class="col-md-6">
                    <!-- <img
                        src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png "
                        alt=""
                    /> -->
                    <img
                        class="animate__animated animate__fadeInRight animate__slower"
                        id="side-pic"
                        src="./../../assets/img/—Pngtree—business development and creative presentation_5293792.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </section>
</div>
