<div class="container animate__animated animate__slideInUp animate__slower">
    <h3 class="text-primary display-3">
        Resources used in this website
        <!-- <span class="h2 text-danger">Advice for the public</span> -->
    </h3>
    <span class="h5">For more information please visit below sites.</span>
    <hr />
    <ul class="h3">
        <li>
            <a
                href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"
                >WHO -World Health Organisation</a
            >
        </li>
        <li>
            <a href="https://www.webmd.com/lung/coronavirus">Webmd</a>
        </li>
        <li>
            <a
                href="https://www.creative-tim.com/product/material-dashboard-angular2/?_ga=2.153878462.72191669.1590484757-1489004240.1589522003"
                >Material Theme</a
            >
        </li>
        <li>
            <a href="https://icons8.com/icons">icon8.com</a>
        </li>
    </ul>
</div>
