/* .container {
    justify-content: space-between;
}
#navbarNav {
    display: flex;

    justify-content: right;
} */
#btn_login {
    /* float: left; */
    /* margin-left: 200px; */
}
.navbar-brand {
    font-size: 50px;
    font-weight: bolder;
}
#b {
    display: inline;
}
.navbar {
    margin: 0;
}
/* .nav_link_list {
    margin-left: 650px;
} */
.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
