<div class="container">
    <h3 class="text-primary animate__animated animate__zoomIn animate__slow">
        Coronavirus disease (COVID-19) advice for the public:
        <span class="h2 text-danger">Myth busters</span>
    </h3>
    <hr />
    <div class="row">
        <!-- card-1 -->
        <div
            class="col-sm-4 py-2 animate__animated animate__fadeInLeft animate__slow"
        >
            <div class="card h-100 text-white bg-secondary">
                <div class="card-body">
                    <h3 class="card-title h3">
                        There are currently no drugs licensed for the treatment
                        or prevention of COVID-19
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        While several drug trials are ongoing, there is
                        currently no proof that hydroxychloroquine or any other
                        drug can cure or prevent COVID-19. The misuse of
                        hydroxychloroquine can cause serious side effects and
                        illness and even lead to death. WHO is coordinating
                        efforts to develop and evaluate medicines to treat
                        COVID-19.
                    </p>
                </div>
            </div>
        </div>

        <!-- card-2 -->
        <div class="col-sm-4 py-2">
            <div
                class="card h-100 text-white bg-warning animate__animated animate__zoomIn animate__slow"
            >
                <div class="card-body">
                    <h3 class="card-title h3">
                        Adding pepper to your soup or other meals DOES NOT
                        prevent or cure COVID-19
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        Hot peppers in your food, though very tasty, cannot
                        prevent or cure COVID-19. The best way to protect
                        yourself against the new coronavirus is to keep at least
                        1 metre away from others and to wash your hands
                        frequently and thoroughly. It is also beneficial for
                        your general health to maintain a balanced diet, stay
                        well hydrated, exercise regularly and sleep well.
                    </p>
                </div>
            </div>
        </div>

        <!-- card-3 -->
        <div class="col-sm-4 py-2">
            <div
                class="card h-100 text-white bg-danger animate__animated animate__slideInRight animate__slow"
            >
                <div class="card-body">
                    <h3 class="card-title h3">
                        COVID-19 IS NOT transmitted through houseflies
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        To date, there is no evidence or information to suggest
                        that the COVID-19 virus transmitted through houseflies.
                        The virus that cause COVID-19 spreads primarily through
                        droplets generated when an infected person coughs,
                        sneezes or speaks. You can also become infected by
                        touching a contaminated surface and then touching your
                        eyes, nose or mouth before washing your hands.
                    </p>
                </div>
            </div>
        </div>

        <!-- card-4 -->
        <div class="col-sm-4 py-2">
            <div
                class="card h-100 bg-info text-white animate__animated animate__fadeInUp animate__slow"
            >
                <div class="card-body">
                    <h3 class="card-title h3">
                        5G mobile networks DO NOT spread COVID-19
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        Viruses cannot travel on radio waves/mobile networks.
                        COVID-19 is spreading in many countries that do not have
                        5G mobile networks. COVID-19 is spread through
                        respiratory droplets when an infected person coughs,
                        sneezes or speaks. People can also be infected by
                        touching a contaminated surface and then their eyes,
                        mouth or nose.
                    </p>
                </div>
            </div>
        </div>

        <!-- card-5 -->
        <div class="col-sm-4 py-2">
            <div
                class="card h-100 text-white bg-success animate__animated animate__fadeInUp animate__slow"
            >
                <div class="card-body">
                    <h3 class="card-title h3">
                        You can recover from the coronavirus disease. Catching
                        the new coronavirus DOES NOT mean you will have it for
                        life
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        Most of the people who catch COVID-19 can recover and
                        eliminate the virus from their bodies. If you catch the
                        disease, make sure you treat your symptoms. If you have
                        cough, fever, and difficulty breathing, seek medical
                        care early – but call your health facility by telephone
                        first. Most patients recover thanks to supportive care.
                    </p>
                </div>
            </div>
        </div>

        <!-- card-6 -->
        <div class="col-sm-4 py-2">
            <div
                class="card h-100 text-white bg-primary animate__animated animate__fadeInUp animate__slow"
            >
                <div class="card-body">
                    <h3 class="card-title h3">
                        Drinking alcohol does not protect you against COVID-19
                        and can be dangerous
                    </h3>
                    <hr class="hr_line" />
                    <p class="card-text h5">
                        Frequent or excessive alcohol consumption can increase
                        your risk of health problems.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
